<!-- Page heading one starts -->

<div class="page-heading-one">
  <h2>Cool Parallax Page</h2>
  <p class="bg-color">Our Works Here</p>
</div>

<!-- Page heading one ends -->      

<!-- Main content starts -->

<div class="main-block">

  <br />

  <div class="block-heading-four">
    <i class="fa fa-desktop color br-color"></i>
    <h3>A Cool <span class="color">&amp;</span> Nice Page For Launching Projects. Only For Buyers Of <span class="color">Brave</span>.</h3>
  </div>

  <br />

  <!-- Parallax block one -->
  <div class="parallax-one">
    <div class="container">
      <!-- Parallax element block -->
      <div class="p-element">
        <h2>Groceries!</h2>

        <!-- Accordion starts -->
        <% if user_signed_in? %>
          <%= form_tag "/groceries/#{current_user.id}", method: :patch do %>
        <div class="panel-group" id="accordion-alt2">
         <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
          <div class="panel panel-green"> 
          <!-- Panel heading -->
           <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseOne-alt2">
               Produce
              </a>
            </h4>
           </div>
           <div id="collapseOne-alt2" class="panel-collapse collapse">
            <!-- Panel body -->
            <div class="panel-body">
              
                <% @produces.each do |grocery| %>
                <div class="checkbox col-md-3">
                  <%= check_box_tag "user_groceries[]", grocery.id, grocery.user_groceries.where(user_id: current_user.id).any?, id: grocery.id %>
                  <%= label_tag(grocery.id, grocery.description) %>
                </div>
                <% end %>

            </div>
           </div>
          </div>
          <div class="panel panel-red">
           <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseTwo-alt2">
               Meats, Seafood & Tofu
              </a>
            </h4>
           </div>
           <div id="collapseTwo-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <% @meats.each do |grocery| %>
                <div class="checkbox col-md-3">
                  <%= check_box_tag "user_groceries[]", grocery.id, grocery.user_groceries.where(user_id: current_user.id).any?, id: grocery.id %>
                  <%= label_tag(grocery.id, grocery.description) %>
                </div>
                <% end %>

            </div>
           </div>
          </div>
          <div class="panel panel-blue">
           <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseThree-alt2">
               Bakery & Dairy
              </a>
            </h4>
           </div>
           <div id="collapseThree-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <% @bakery_dairies.each do |grocery| %>
                <div class="checkbox col-md-3">
                  <%= check_box_tag "user_groceries[]", grocery.id, grocery.user_groceries.where(user_id: current_user.id).any?, id: grocery.id %>
                  <%= label_tag(grocery.id, grocery.description) %>
                </div>
                <% end %>
            
            </div>
           </div>
          </div>
          <div class="panel panel-grey">
           <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseFour-alt2">
               Other Fridge & Freezer Items
              </a>
            </h4>
           </div>
           <div id="collapseFour-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <% @other_frigs.each do |grocery| %>
                <div class="checkbox col-md-3">
                  <%= check_box_tag "user_groceries[]", grocery.id, grocery.user_groceries.where(user_id: current_user.id).any?, id: grocery.id %>
                  <%= label_tag(grocery.id, grocery.description) %>
                </div>
                <% end %>
            
            </div>
           </div>
          </div>
          <div class="panel panel-lblue">
           <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseFive-alt2">
               Other Pantry Items
              </a>
            </h4>
           </div>
           <div id="collapseFive-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <% @other_dries.each do |grocery| %>
                <div class="checkbox col-md-3">
                  <%= check_box_tag "user_groceries[]", grocery.id, grocery.user_groceries.where(user_id: current_user.id).any?, id: grocery.id %>
                  <%= label_tag(grocery.id, grocery.description) %>
                </div>
                <% end %>
            
            </div>
           </div>
          </div>
          <div class="panel panel-orange">
           <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseSix-alt2">
               Spices & Sauces
              </a>
            </h4>
           </div>
           <div id="collapseSix-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <% @sauces_spices.each do |grocery| %>
                <div class="checkbox col-md-3">
                  <%= check_box_tag "user_groceries[]", grocery.id, grocery.user_groceries.where(user_id: current_user.id).any?, id: grocery.id %>
                  <%= label_tag(grocery.id, grocery.description) %>
                </div>
                <% end %>
            
            </div>
           </div>
          </div>
          <div class="panel panel-purple">
           <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseSeven-alt2">
               Miscellaneous
              </a>
            </h4>
           </div>
           <div id="collapseSeven-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Search for unusual ingredients will go here</p>            
            </div>
           </div>
          </div>
        </div>
        <button class="btn btn-lg btn-white">
        <%= submit_tag "Save Groceries" %>
        </button>
        <% end %>
        <% end %>
        <!-- Accordion ends -->

      </div>
    </div>
  </div>

</div>

<!-- Main content ends-->